<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contaminación Araucanía</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="CSS/ChartPage.css">
    
    <script th:inline="javascript">
        var datos = [[${ data }]];
    </script>

</head>

<body id="Inicio">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li>
                    <a class="navbar-brand" href="home">Página Principal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#Inicio">Filtrar Datos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://www.ufro.cl/index.php/noticias/12-destacadas/2468-lanzan-proyecto-smartemuco-smart-city-in-a-box">Proyecto
                        Smart City</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="SeleccionDeParametros">
        <div class="card border-0" style="height: 785px;">
            <img src="img/CharPage.jpg" class="card-img-top " style="position: absolute" height="785px">
            <div class="container" style="margin-top: 8%; ">
                <div class="row border border-dark rounded"
                    style="padding: 5%; margin-top: 2%;color: white;background: rgba(34,34,34,0.75);position: relative;">
                    <div class="col-md-8 ">
                        <h3>Seleccione el rango de tiempo en el que quiere generar el gráfico:</h3>
                    </div>
                    <div class="col-md-4" style="margin-top: 3%">
                        <select class="select-css" name="FranjaHoraria" onchange="mostrarSelecciones(this.value)">
                            <option value="Hora">Hora</option>
                            <option value="Dia">Día</option>
                            <option value="Mes">Mes</option>
                            <option value="Año">Año</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid border border-dark rounded "
                style="padding: 3%; margin-top:2%;background: rgba(34,34,34,0.75);position: relative;">
                <div class="row" id="Horas">
                    <div class="col" align="center">
                        <h6>Seleccione la fecha:</h6>
                        <input id="datepicker" width="276">
                    </div>
                    <div class="col" align="center">
                        <h6>Seleccione la hora:</h6>
                        <select class="select-css" name="SeleccionHora">
                            <option>00:00:00 - 01:00:00</option>
                            <option>01:00:00 - 02:00:00</option>
                            <option>02:00:00 - 03:00:00</option>
                            <option>03:00:00 - 04:00:00</option>
                            <option>04:00:00 - 05:00:00</option>
                            <option>05:00:00 - 06:00:00</option>
                            <option>06:00:00 - 07:00:00</option>
                            <option>07:00:00 - 08:00:00</option>
                            <option>08:00:00 - 09:00:00</option>
                            <option>09:00:00 - 10:00:00</option>
                            <option>10:00:00 - 11:00:00</option>
                            <option>11:00:00 - 12:00:00</option>
                            <option>12:00:00 - 13:00:00</option>
                            <option>13:00:00 - 14:00:00</option>
                            <option>14:00:00 - 15:00:00</option>
                            <option>15:00:00 - 16:00:00</option>
                            <option>16:00:00 - 17:00:00</option>
                            <option>17:00:00 - 18:00:00</option>
                            <option>18:00:00 - 19:00:00</option>
                            <option>19:00:00 - 20:00:00</option>
                            <option>20:00:00 - 21:00:00</option>
                            <option>21:00:00 - 22:00:00</option>
                            <option>22:00:00 - 23:00:00</option>
                            <option>23:00:00 - 00:00:00</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="display: none;" id="Dias">
                    <div class="col" align="center">
                        <h6>Seleccione la fecha:</h6>
                        <input id="datepicker2" width="276">
                    </div>
                </div>
                <div class="row" style="display: none;" id="Meses">
                    <div class="col" align="center">
                        <h6>Seleccione el año:</h6>
                        <select class="select-css" name="SeleccionAño">
                            <option>2019</option>
                        </select>
                    </div>
                    <div class="col" align="center">
                        <h6>Seleccione el mes:</h6>
                        <select class="select-css" name="SeleccionMes">
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Septiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="display: none;" id="Anios">
                    <div class="col" align="center">
                        <h6>Seleccione el año:</h6>
                        <select class="select-css" name="SeleccionAño">
                            <option>2019</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button" align="center" style="margin-top: 3%">
                <a class="btn btn-primary btn-lg btn-dark " style="position: relative;" href="#Grafico"
                    onclick="generarGrafico(datos)">Desplegar Gráfico</a>
            </div>
        </div>
    </section>

    <section id="Grafico">
        <div class="datosGrafico container" style="margin-top: 0%">
            <div class="row" style="height: 110px;">
                <div class="col-md-4 ">
                    <div class="separadores border">
                        <h5>Sector</h5>
                        <h5 id="sector"></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="separadores border ">
                        <h5>PM 2.5</h5>
                        <h5 id="pm25"></h5>
                    </div>
                </div>
                <div class="col-md-4  ">
                    <div class="separadores border">
                        <h5>PM 10</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="grafico container-fluid" style="padding: 0%">
            <div class="row" style="padding: 0%">
                <div class="col-md-8">
                    <div class="dondeVaElGrafico ml-3" id="treemapContenedor">

                    </div>
                </div>
                <div class="col-md-4" style="padding: 1%">
                    <div class="contenedor-right" align="center">
                        <div class="panelImeca border">
                            <img src="img/imecas3.png" class="imgImeca img-fluid" alt="Responsive image">
                        </div>
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-6 " style="padding: 0%;">
                                <div class="separador2 border" style="margin-left: 25%;">
                                    <h5>Temperatura</h5>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding: 0%;">
                                <div class="separador2 border ">
                                    <h5>Humedad</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button" align="center" href="#" style="margin-top: 13%; color: white;">
                        <a class="btn btn-primary btn-lg btn-dark">Exportar Gráfico</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container text-dark">
            <div class="textoAutores" style="padding: 3%" align="center">
                <ul style="list-style: none;">
                    <li>¿Quiénes Somos?</li>
                    <li>Autores: Rodrigo Pardo, Gilio Linfati y Jonathan Lizama</li>
                    <li>Universidad de la Frontera</li>
                    <li>Departamento de Ciencias e Informática.</li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

    <script>
        $("#datepicker").datepicker({
            uiLibrary: 'bootstrap4'
        });
        $("#datepicker2").datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>

    <script>
        function mostrarSelecciones(id) {

            if (id == "Hora") {
            
                $("#Horas").css("display","flex");
                $("#Dias").css("display","none");
                $("#Meses").css("display","none")
                $("#Anios").css("display","none");
            }
            if (id == "Dia") {
                $("#Horas").css("display","none");
                $("#Dias").css("display","flex");
                $("#Meses").css("display","none")
                $("#Anios").css("display","none");
            }
            if (id == "Mes") {
                $("#Horas").css("display","none");
                $("#Dias").css("display","none");
                $("#Meses").css("display","flex")
                $("#Anios").css("display","none");
            }
            if (id == "Año") {
                $("#Horas").css("display","none");
                $("#Dias").css("display","none");
                $("#Meses").css("display","none")
                $("#Anios").css("display","flex");
            }
        }
    </script>

    <script>
        function generarGrafico(datosFinales) {
            // set the dimensions and margins of the graph
            var margin = { top: 10, right: 10, bottom: 10, left: 10 },
                width = 1200 - margin.left - margin.right,
                height = 660 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#treemapContenedor")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");


            // Give the data to this cluster layout:
            var root = d3.hierarchy(datosFinales).sum(function (d) { return d.value }) // Here the size of each leave is given in the 'value' field in input data

            // Then d3.treemap computes the position of each element of the hierarchy
            d3.treemap()
                .size([width, height])
                .paddingTop(28)
                .paddingRight(7)
                .paddingInner(4)      // Padding between each rectangle
                //.paddingOuter(6)
                //.padding(20)
                (root)

            // prepare a color scale
            var color = d3.scaleOrdinal()
                .range(["#402D54", "#D18975", "#8FD175", "red", "blue", "black", "grey"])



            // use this information to add rectangles:
            svg
                .selectAll("rect")
                .data(root.leaves())
                .enter()
                .append("rect")
                .attr('x', function (d) { return d.x0; })
                .attr('y', function (d) { return d.y0; })
                .attr('width', function (d) { return d.x1 - d.x0; })
                .attr('height', function (d) { return d.y1 - d.y0; })
                .style("stroke", "black")
                .style("fill", function (d) { return color(d.data.name) })

            // and to add the text labels
            svg
                .selectAll("text")
                .data(root.leaves())
                .enter()
                .append("text")
                .attr("x", function (d) { return d.x0 + 5 })    // +10 to adjust position (more right)
                .attr("y", function (d) { return d.y0 + 20 })    // +20 to adjust position (lower)
                .text(function (d) { return d.data.name })
                .attr("font-size", "25px")
                .attr("fill", "white")

            // and to add the text labels
            svg
                .selectAll("vals")
                .data(root.leaves())
                .enter()
                .append("text")
                .attr("x", function (d) { return d.x0 + 5 })    // +10 to adjust position (more right)
                .attr("y", function (d) { return d.y0 + 35 })    // +20 to adjust position (lower)
                .text(function (d) { return d.data.value })
                .attr("font-size", "22px")
                .attr("fill", "white")


            // Add title for the 3 groups
            svg
                .append("text")
                .attr("x", 0)
                .attr("y", 14)    // +20 to adjust position (lower)
                .text("Sectores registrados en la fecha:08-01-2019")
                .attr("font-size", "19px")
                .attr("fill", "grey")

            'use strict';
            d3.selectAll("rect").data(root.leaves()).attr("transition", "all 0.2s ease").on("click", function (d) {
                var sectorVAR = d.data.name;
                var pm25VAR = d.data.value;
                document.getElementById("sector").innerHTML = sectorVAR;
                document.getElementById("pm25").innerHTML = pm25VAR;
                d3.select(this).style("transition", "all 0.2s ease");
                d3.select(this).style("box-shadow", "0 4px 16px rgba(49, 138, 172, 1)");

            });
        }
    </script>
</body>

</html>