<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Contaminación Araucanía</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="CSS/main.css">
</head>

<body>
    <header>
        <div class="card border-light">
            <img src="img/header.jpg" class="card-img-top" style="position: absolute" height="100%">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logoUfro">
                            <img src="img/logoUfro.png" class="img-fluid" width="30%" height="30%"
                                style="margin-top: 2%; position: relative;">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="Cabezera" style="margin-left: 15%">
                            <h1>Contaminación Araucanía</h1>
                            <h2 style="margin-left: 2%">Proyecto Smart City In A Box</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="navbar-brand" href="#">Página Principal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Anexos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proyecto Smart City In a Box</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="EspecificacionesProyecto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" style="padding: 0%">
                    <div class="imagenEspecificaciones">
                        <img src="img/contaminacion.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contenedor-right mt-5 ml-2">
                        <h2>Especificaciones del Proyecto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde non itaque, architecto
                            eum explicabo eveniet dignissimos incidunt eius corrupti repellat sint. Quam omnis doloribus
                            error laboriosam alias? Placeat, omnis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde non itaque, architecto
                            eum explicabo eveniet dignissimos incidunt eius corrupti repellat sint. Quam omnis doloribus
                            error laboriosam alias? Placeat, omnis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde non itaque, architecto
                            eum explicabo eveniet dignissimos incidunt eius corrupti repellat sint. Quam omnis doloribus
                            error laboriosam alias? Placeat, omnis.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="HerramientaGrafica">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="padding: 2%">
                    <div class="texto">
                        <h2>Herramienta gráfica</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde non itaque, architecto
                            eum explicabo eveniet dignissimos incidunt eius corrupti repellat sint. Quam omnis doloribus
                            error laboriosam alias? Placeat, omnis.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque unde non itaque, architecto
                            eum explicabo eveniet dignissimos incidunt eius corrupti repellat sint. Quam omnis doloribus
                            error laboriosam alias? Placeat, omnis.</p>
                    </div>
                    <div class="button" align="center" style="margin-top: 7%">
                        <button type="button" class="btn btn-primary btn-lg btn-dark ">Ir a Herramienta Gráfica</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="imagenGrafico">
                        <img src="img/grafico.png" class="img-fluid" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container text-dark">
            <div class="textoAutores" style="padding: 3%" align="center">
                <ul style="list-style: none;">
                    <li>¿Quienes Somos?</li>
                    <li>Autores: Rodrigo Pardo, Gilio Linfati y Jonathan Lizama</li>
                    <li>Universidad de la Frontera</li>
                    <li>Departamento de Ciencias e Informática.</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>